---
import ImageContainer from "../../components/ImageContainer.astro";
import Glass from "./img/glass.jpg";
---

<div id="who">
  <div class="container">
    <div class="content">
      <ImageContainer item={Glass} alt="water glass" className="about-us-img" />
    </div>
    <div class="content">
      <h2>Who are we?</h2>
      <p>
        We are a dedicated team committed to driving sustainability and
        environmental responsibility. By working with businesses, communities,
        and organizations, we promote sustainable practices, advocate for
        eco-friendly solutions, and support the transition to a greener future.
        Our mission is to create lasting positive change by fostering
        responsible resource management, reducing environmental impact, and
        inspiring collective action.
      </p>
      <p>
        With a deep commitment to innovation and sustainability, we work to
        develop and support initiatives that focus on energy efficiency, water
        conservation, waste reduction, and carbon footprint minimization. By
        providing guidance, resources, and expertise, we empower individuals and
        industries to make informed choices that contribute to a healthier
        planet.
      </p>
    </div>
  </div>
</div>

<style>
  #who {
    padding: 5rem 0;
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
      align-items: center;
      justify-content: center;
      .content {
        .about-us-img {
          max-width: 660px;
          border-radius: 25px;
          overflow: hidden;
          aspect-ratio: 1;
          picture {
            height: 100%;

            img {
              height: 100%;
            }
          }
        }

        h2 {
          color: var(--dark-blue);
          margin-bottom: 2rem;
        }
        p {
          color: var(--gray);
          margin-bottom: 1rem;
        }
      }
    }
  }
</style>
