---
import Button from "../../components/Button.astro";
import ImageContainer from "../../components/ImageContainer.astro";
import House from "./img/house.jpg";
---

<div id="about-us">
  <div class="container">
    <div class="contents">
      <ImageContainer item={House} alt="house" className="house" />
    </div>
    <div class="contents">
      <h3>Who are we?</h3>
      <p>
        We are an independent water company, providing water and wastewater
        services to residential development sites across England and Wales,
        where they may otherwise have been serviced by an incumbent water
        company.
      </p>
      <Button
        href="/link"
        className="about-us-btn"
        name="More About Us"
        bgColor="--dark-blue"
        textColor="white"
        hoverBgColor="#2aa8e4"
        hoverTextColor="white"
        icon={true}
        iconSet="io"
        iconName="IoIosArrowForward"
      />
    </div>
  </div>
  <div class="container what-we-do">
    <h3>What We Do</h3>
    <p>
      We provide support and expertise to enhance project outcomes and
      streamline development processes. These include innovative approaches to
      new developments, high-quality network designs engineered for longevity,
      efficiency, and supply security for domestic customers, and expedited
      technical approvals for wastewater designs to enable early adoption.
    </p>
    <p>
      Our clients benefit from full site cost transparency across both
      construction and adoption phases.
    </p>
    <Button
      href="/link"
      className="what-we-do-btn"
      name="More About What We Do"
      bgColor="--dark-blue"
      textColor="white"
      hoverBgColor="#2aa8e4"
      hoverTextColor="white"
      icon={true}
      iconSet="io"
      iconName="IoIosArrowForward"
    />
  </div>
</div>

<style>
  #about-us {
    z-index: 30;
    position: relative;
    margin-top: 5rem;
    margin-bottom: 5rem;

    .container {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 2rem;
      align-items: center;
      justify-content: center;

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
      }

      .house {
        max-width: 660px;
        border-radius: 25px;
        overflow: hidden;
      }

      h3 {
        margin-bottom: 2rem;

        @media (max-width: 500px) {
          font-size: 2.3rem;
          text-align: left;
          width: 100%;
        }
      }

      p {
        line-height: 1.75rem;
        margin-bottom: 2rem;
        color: var(--gray);
      }
    }

    .what-we-do {
      display: flex;
      flex-direction: column;
      margin-top: 5rem;
      gap: 1rem;

      p {
        max-width: 660px;
        margin-inline: auto;
        text-align: center;
        margin-bottom: 1rem;
      }
    }
  }
</style>
