---
import Button from "../../components/Button.astro";
import IconX from "../../components/Icons";

const accordionItems = [
  { title: "Tokyo", content: "Tokyo is the most populous city in the world." },
  {
    title: "Paris",
    content: "The Eiffel Tower was originally meant to be temporary.",
  },
  {
    title: "New York",
    content: "Times Square was originally called Longacre Square.",
  },
];
---

<div id="notices">
  <div class="bg-icon">
    <i class="bg-icon"
      ><svg
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1024 1600"
        ><path
          opacity="0.12"
          d="M486.79 901.853S699.345 637.55 714.957 500.371c13.821 21.015 27.769 41.128 41.334 60.467C740.935 683.191 524.157 957.164 512 974.827c-36.727 49.253-58.609 85.483-58.609 109.463 0 32.49 26.233 59.05 58.609 59.05 32.248 0 58.609-26.43 58.609-59.05 0-14.31-7.934-33.01-20.602-54.28 8.573-12.64 23.034-31.847 40.693-55.828 26.874 40.228 44.149 76.328 44.149 110.108 0 68.2-55.026 123.77-122.849 123.77-67.695 0-122.849-55.44-122.849-123.77 0-48.35 32.888-99.407 97.511-182.437h.128Z"
          fill="currentColor"></path><path
          opacity="0.10"
          d="M380.577 832.361c35.959-45.512 214.218-272.168 255.936-462.079a1582.044 1582.044 0 0 0 42.869 74.263c-20.347 141.047-223.56 396.454-248.642 428.171-57.457 72.586-107.109 135.244-107.109 211.704 0 104.56 84.459 189.65 188.241 189.65 103.782 0 188.241-85.09 188.241-189.65 0-59.31-30.073-110.496-70.382-164.388 12.412-17.405 25.465-36.1 38.518-55.826 52.083 67.43 96.104 134.601 96.104 220.084 0 140.27-113.252 254.37-252.481 254.37-139.229 0-252.481-114.1-252.481-254.37 0-99.02 58.865-173.283 121.186-252.058v.129Z"
          fill="currentColor"></path><path
          opacity="0.08"
          d="M294.454 735.02c162.008-209.766 244.931-365.769 272.06-515.197l34.296 80.064c-19.323 96.696-53.875 164.899-88.81 229.621-51.187 99.146-112.228 176.374-167.254 245.867C260.543 881.741 194 965.802 194 1084.29c0 176.63 142.684 320.38 318 320.38s318-143.75 318-320.38c0-106.369-53.49-184.886-125.28-276.683 12.029-19.597 23.674-39.71 34.679-60.081 84.075 106.495 154.841 200.87 154.841 336.764 0 212.34-171.477 385.11-382.24 385.11s-382.24-172.77-382.24-385.11c0-141.18 77.676-236.587 164.694-349.27Z"
          fill="currentColor"></path><path
          opacity=".06"
          d="M208.972 640.645C324.655 488.896 487.686 248.445 512 0c4.735 48.993 14.972 97.599 29.177 145.302C491.525 370.411 351.4 560.064 259.903 679.968 154.969 817.663 64.24 936.664 64.24 1084.16c0 248.7 200.91 451.12 447.76 451.12s447.76-202.42 447.76-451.12c0-145.046-87.658-262.5-190.416-397.23 10.749-23.981 19.963-47.961 26.873-71.297 6.398 8.509 12.669 16.889 18.811 24.883C922.521 781.434 1024 914.617 1024 1084.16c0 284.41-229.703 515.84-512 515.84S0 1368.57 0 1084.16c0-169.543 101.479-302.726 208.972-443.644v.129Z"
          fill="currentColor"></path></svg
      ></i
    >
  </div>
  <div class="container">
    <div class="contents">
      <h3>Section 8 Notices</h3>
      <p>
        Advanced Water Infrastructure Networks publishes notices under section
        (8)(2) of the Water Industry Act 1991 confirming we have applied for a
        new appointment/variation to our appointment to be the water and/or
        sewerage provider for these sites.
      </p>
      <Button
        href="/link"
        className="what-we-do-btn"
        name="View all notices"
        bgColor="--dark-blue"
        textColor="white"
        hoverBgColor="#2aa8e4"
        hoverTextColor="white"
        icon={true}
        iconSet="io"
        iconName="IoIosArrowForward"
      />
    </div>
    <div class="contents">
      <ul class="accordion">
        {
          accordionItems.map((item, index) => (
            <li class="accordion-item">
              <div class="title-container">
                <div class="icon-container">
                  <IconX
                    size={24}
                    set="io"
                    name="IoIosArrowForward"
                    client:load
                  />
                </div>
                <h4>{item.title}</h4>
              </div>
              <p class="accordion-content">{item.content}</p>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</div>

<style>
  #notices {
    background-color: #f3f4f6;
    padding: 5rem 0rem;
    overflow: hidden;
    position: relative;

    .container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
      gap: 5rem;
      z-index: 15;
      position: relative;

      .contents {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        h3 {
          font-size: 1.6rem;
        }

        &:first-child {
          padding: 3rem 0;
        }

        .accordion {
          list-style: none;
          li {
            margin-bottom: 2rem;
            background-color: #fff;
            padding: 2rem 2rem;
            border-radius: 25px;

            .title-container {
              display: flex;
              gap: 1rem;
              cursor: pointer;
              margin-bottom: 15px;
              align-items: center;
              z-index: 3;
              position: relative;

              h4 {
                font-size: 1.3rem;
                line-height: 1.6rem;

                @media (max-width: 500px) {
                  font-size: 1.3rem;
                }
              }

              &:hover {
                .icon-container {
                  background-color: var(--gray);

                  svg {
                    fill: #fff;
                  }
                }
              }
            }

            .icon-container {
              height: 40px;
              width: 40px;
              padding: 10px;
              border-radius: 300px;
              background-color: #cadae7;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: all ease-in-out 0.25s;

              svg {
                transition: all ease-in-out 0.25s;
              }
            }

            .accordion-content {
              display: none;
            }

            &.active {
              .icon-container {
                background-color: var(--gray);
                svg {
                  transform: rotate(90deg);
                  fill: #fff;
                }
              }
            }
          }
        }
      }
    }

    .bg-icon {
      position: absolute;
      left: -10rem;
      width: 50rem;
      top: -10rem;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    $(function () {
      $(".title-container").on("click", function () {
        let parent = $(this).parent();
        parent.toggleClass("active");

        let content = parent.find(".accordion-content");
        if (parent.hasClass("active")) {
          content.stop(true, true).slideDown(300); // Slide down when active
        } else {
          content.stop(true, true).slideUp(300); // Slide up when inactive
        }
      });
    });
  });
</script>
