---
import { getCollection } from "astro:content";

const news = await getCollection("news");
---

<h1>News Articles</h1>

<ul>
  {
    news.map((article: any) => (
      <li>
        <a href={`/news/${article.slug}/`}>
          {article.data.title} - {article.data.pubDate.toDateString()}
        </a>
      </li>
    ))
  }
</ul>
